body{
    margin: 0;
    font-family: "Nunito", sans-serif;
}



header{
    background-color: #2e94cc;
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 30px;
}

article {
    max-width: 850px;
    margin:auto;
    padding: 8px;
    padding-top: 70px;
}

.post-author{
    color: #6C6C6C6C;
    font-size: 12px;
    line-height: 10px;
}

.share-post, 
.link-title {
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
}

.share-post span {
    margin-right: 4px;
}

.share-post img {
    vertical-align: middle;
}
.link-title {
    margin-bottom: 12px;
}

.uppercase {
    text-transform: uppercase;
}


.hero-image{
    max-width: 50px 0;
}
.hero-image img {
    max-width: 100%;
}

h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 52px;
    letter-spacing: 1.3px;
    line-height: 50px;
}

article p {
    font-size: 16px;
    line-height: 24px;
}

#content-section {
    max-width: 680px;
}

iframe {
    margin: 50px 0;
    max-width: 100%;
}

footer{
    background-color: #f1f1f1;
    max-width: 680px;
    margin: auto;
    margin-bottom: 70px;
    padding: 20px 15px;
}


footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer a {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

footer ul li {
    margin-bottom: 12px;
}

footer ul li:last-of-type{
    margin-bottom: 0;
}